---
layout: default
title: Blog
---
{% include homehead.html %}

<section>
    <div class="card-list oi" id="myIndexList" style="margin-top: 20px;">
        {% for post in site.posts %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="mr-20">
          <p style="display: none;">{{ post.title }} {{ post.description }}</p>
          <div class="card-wrapper">
            <div class="background"></div>
            <div class="kepala p-24"><h1 class="judul">{{ post.title }}</h1><p>{{ post.description }}</p></div>
          </div>
        </a>
        {% endfor %}
    </div>
    <div style="font-size: x-large;font-weight: 600;display: none;" id="nofound">
      <p style="text-align: center;">Sorry but not found :(</p>
    </div>
</section>
